name: test.yml
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/workflows/test.yml
      - src/**
      - Cargo.lock
  pull_request:
    branches:
      - main

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Build Images
        run: |
          docker build -t goslar/sessiondriver:latest -f ./Dockerfile .
          docker build -t goslar/sessiondriver-firefox:latest -f ./Dockerfile-SessionDriver-Firefox .

      - name: Detach Container
        run: docker run -d --name=sessiondriver-firefox -p 4444:4444 -e RUST_LOG=debug goslar/sessiondriver-firefox:latest

      - name: Check Health
        run: timeout 60s sh -c 'until docker ps | grep sessiondriver-firefox | grep -q healthy; do echo "Waiting for container to be healthy..."; sleep 2; done'

      - uses: dtolnay/rust-toolchain@1.92.0

      - name: Test
        run: cargo test --verbose
